:root {
    --colorJ1: #f33434;
    --bgJ1: #e21a1a;
    --colorJ2: #34f363;
    --bgJ2: #1ae24c;
    --colorJ3: #f0c63e;
    --bgJ3: #e2b31a;
    --colorJ4: #f36fdd;
    --bgJ4: #f74edb;
}

@font-face {
    font-family: 'Kart';
    src: url(fonts/mario_kart_f2.ttf);
}

html {
    background-color: rgb(0, 41, 95);
    width: 100%;
    height: 100%;
    padding: 16px;
}

body {
    background-color: #1f71cf;
    padding: 16px;
    border-radius: 18px;
    width: 828px;
    height: 648px;
    margin: calc(50vh - 360px) calc(50vw - 450px);
    position: fixed;
    font-family: "Outfit", sans-serif;
    color: white;
    overflow: hidden;
    font-variant-caps: small-caps;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 8px #00003366;
}

body * {
    font-variant-caps: small-caps;
}

#QuestionContainer #Image img {
    margin: auto;
    border-radius: 18px;
    height: 256px;
    max-width: 800px;
    display: block;
}

#QuestionBottom {
    display: flex;
    justify-content: space-between;
}

#QuestionRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#NomJoueur {
    font-size: 28px;
}

.couleur1 {
    color: var(--colorJ1);
}


.couleur2 {
    color: var(--colorJ2);
}


.couleur3 {
    color: var(--colorJ3);
}


.couleur4 {
    color: var(--colorJ4);
}

#Temps {
    font-size: 36px;
}

.dots {
    margin: 0 8px;
    width: -webkit-fill-available;
    background-size: contain;
    height: 8px;
    background-repeat: repeat-x;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20'%3E%3Ccircle cx='10' cy='10' r='5' fill='%23e0e0e0' /%3E%3C/svg%3E ");
}

.prop {
    display: flex;
    align-items: center;
    transition: transform 0.5s;
    cursor: pointer;
}

.prop:hover {
    transform: scale(1.03);
}

.prop.checked {
    background-color: #009922;
}

section {
    box-shadow: 0px 0px 8px #00003366;
    border-radius: 18px;
}

button, #VALIDATION {
    background-color: #308af1;
    font-size: 18px;
    color: white;
    border: 0;
    height: 36px;
    vertical-align: middle;
    padding: 8px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #00003366;
    transition: transform 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: #4f9af0;
    transform: scale(1.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    position: relative;
    top: -12%;
    left: 20%;
}

#A, #B, #C, #D {
    white-space: nowrap;
}

#ReponseContainer {
    width: 100%;
    max-width: 800px;
}

#Propositions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    gap: 8px;
}

#Propositions div {
    text-align: left;
}

#QuestionContainer {
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

#Question {
    display: flex;
    align-items: center;
    font-size: 28px;
}

.Answer {
    padding-bottom: 20px;
}

#NumQuestion {
    font-family: 'Kart';
}

#Numero {
    font-size: xx-large;
    margin: 0;
    font-family: "Outfit", sans-serif;
    padding-left: 8px;
    font-weight: bold;
    position: relative;
    bottom: 2px;
}

.hidden, .hidden * {
    display: none !important;
}

#VALIDATION {
    margin-top: 16px;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    height: 42px;
    vertical-align: middle;
}

#Enonce {
    font-size: 24px;
    margin-top: 16px;
    text-align: center;
}

#ValContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#GlobalMenu {
   position: fixed; 
   top: 32px;
   right: 32px;
}

#StartMenu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#GameTitle {
    width: 100%;
    height: 256px;
    background-color: #aa0000;  
}

#GameSetup {
    gap: 8px;
    display: flex;
    width: 100%;
}

#GameSetup button {
    width: 50%;
}

#PlayersSetup {
    display: flex;
    flex-direction: column;
    height: 256px;
    background-color: #000045;
    border-radius: 12px;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

#Players {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
    align-items: stretch;
    padding: 32px 0;
}

.player {
    display: flex;
    flex-direction: row;
    width: 49%;
    justify-content: center;
}

#PlayersTitle {
    font-size: 36px;
    font-weight: bold;
}

#Players input {
    font-size: 18px;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    line-height: 24px;
}

#NomJ1 {
    border-color: var(--bgJ1);
    color: var(--colorJ1);
}

#NomJ2 {
    border-color: var(--bgJ2);
    color: var(--colorJ2);
}

#NomJ3 {
    border-color: var(--bgJ3);
    color: var(--colorJ3);
}

#NomJ4 {
    border-color: var(--bgJ4);
    color: var(--colorJ4);
}

#VALIDATION[disabled] {
    background-color: #666678;
    color: #333345;
}